body{
    background-color:lightgoldenrodyellow
}

 .container {
        background-color: darkcyan; width: 1000px;
        margin: 0 auto;
        padding: 50px;
        border: 5px solid color(srgb rgba(159, 51, 116, 0.381) green blue);
    }

.nav {
    list-style: none;
    text-align: center;
}

.nav li {
    display: inline;
    margin-right: 100px;
    font-size: 24px;
}

.div-test {
    background-color: cadetblue;
    text-align: center;
    color: aliceblue;
    }

    .span1 {
        font-size: 50px;
    }
    
    .span2 {
        font-size: 30px;
    }

   